[user]
	name = Brian Beck
	email = exogen@gmail.com

[color]
    ui = true

[color "branch"]
    current = green
    local = normal
    remote = black bold

[color "diff"]
    meta = white
    frag = black bold
    old = red
    new = green

[color "status"]
    added = green
    changed = red bold
    untracked = black bold

[core]
    editor = vim
    pager = less -+$LESS -FRX

[alias]
    st = status
    ci = commit
    co = checkout
    d = diff --patience
    ds = diff --patience --staged
    wd = diff --patience --word-diff=color
    wds = diff --patience --staged --word-diff=color
    full-diff = diff --patience -U9999
    fd = diff --patience -U9999
    amend = commit --amend
    aa = add --all
    au = add --update
    ff = merge --ff-only
    noff = merge --no-ff
    pullff = pull --ff-only
    pullrb = pull --rebase
    l = "!source ~/.githelpers && pretty_git_log"
    lg = "!source ~/.githelpers && pretty_git_log_graph"
    b = branch
    sp = stash pop
    up = "!git remote update -p; git merge --ff-only @{u}"

[branch]
    autosetupmerge = true

[merge]
    tool = vimdiff
    summary = true
    verbosity = 1

[apply]
    whitespace = nowarn

[advice]
    statusHints = false

[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
